html {
	scroll-behavior: smooth;
	overflow-x: hidden;
	box-sizing: border-box;
	font-size: calc(1vw / 16); // 100vw / 1600px
}

html,
body {
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

img {
	display: flex;
	width: 100%;
	height: auto;
	vertical-align: middle;
}

body {
	position: relative;

	overflow-x: hidden;

	min-width: 320rem;

	font-family: $pt-sans-caption-font;
	font-size: 16rem;
	font-weight: 400;

	background: $black-color;
}

@media (width <= 1200px) {
	html {
		font-size: calc(1vw / 12);
	}
}

@media (width <= 720px) {
	html {
		font-size: calc(1vw / 7.2);
	}
}

@media (width <= 480px) {
	html {
		font-size: calc(1vw / 4.8);
	}
}
