.footer {
	padding-left: 20rem;
	border-top: 1rem solid $white-color;

	&__wrapper {
		display: grid;
		grid-template-columns: 25% 2fr 1fr;
		width: 100%;
	}

	&__link {
		position: relative;
		z-index: 1000;

		display: flex;
		align-items: center;

		height: 100%;

		color: $white-color;
		text-decoration: none;
	}

	&__logo {
		width: 260rem;
		height: 40rem;
	}
}

.menu {
	height: 100%;
	border-right: 1rem solid $white-70-color;
	border-left: 1rem solid $white-70-color;

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 25%);
		height: 100%;
	}

	&__list_item {
		display: flex;
		align-items: center;
		justify-content: center;

		height: 100%;

		color: $white-color;

		transition: all 0.3s ease-in-out;

		&--multiple {
			display: flex;
			gap: 10rem;
			align-items: center;
		}

		& + & {
			border-left: 1rem solid $white-color;
		}

		&:hover {
			color: $black-color;
			background: $white-color;
		}
	}

	&__list_link {
		display: flex;
		align-items: center;
		justify-content: center;

		padding: 28rem 0;

		font-size: 16rem;
		color: inherit;
		text-align: center;
		text-decoration: none;
	}

	&__list_icon {
		width: 20rem;
		height: 20rem;
	}
}

@media (width <= 1200px) {
	.registration {
		display: none;
	}

	.footer__wrapper {
		display: grid;
		grid-template-columns: 25% auto;
		width: 100%;
	}

	.menu {
		border-right: none;
	}

	.menu__list_link {
		width: auto;
	}

	.footer__contacts {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 15rem;

		width: 100%;
		margin: 0;
	}

	.footer__bottom_inner {
		flex-direction: column;
		gap: 10rem;
	}

	.footer__bottom_title {
		width: 100%;
		margin-bottom: 10rem;
		font-size: 24rem;
		text-align-last: left;
	}
}

@media (width <= 900px) {
	.footer__list_link {
		padding: 10rem 0;
	}

	.footer__contacts {
		grid-template-columns: repeat(2, 1fr);
	}

	.footer__contacts_item:last-child {
		grid-column: 1 / -1;

		br {
			display: none;
		}
	}
}

@media (width <= 720px) {
	.footer__wrapper {
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.menu {
		display: none;
	}
}
