.partner {
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 0;
	max-height: 110rem;
	padding: 30rem;

	&__icon {
		max-height: 90%;
		filter: brightness(0);
		transition: filter 0.3s;

		&:hover {
			filter: none;
		}
	}

	&--default {
		.partner__icon {
			filter: brightness(1);
		}
	}
}

@media (width <= 480px) {
	.partner {
		padding: 5rem 20rem;
	}
}
