.directions {
	position: relative;
	min-height: 100vh;
	background-color: $white-color;

	&__background {
		position: absolute;
		z-index: 100;
		bottom: 0;
		left: 0;

		width: 100%;
		height: 90%;

		background: url('../../../../shared/assets/images/directions.svg');
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
	}

	&__wrapper {
		position: absolute;
		z-index: 1000;
		right: 0;
		bottom: 0;
		left: 0;

		width: 100%;
		height: 60%;
	}

	&__items {
		position: relative;
		width: 100%;
		height: 100%;
	}

	&__title {
		display: none;

		padding: 0 60rem;

		font-weight: 400;
		color: $gray-color-2;
		text-transform: uppercase;
	}
}

.link {
	position: absolute;
	right: 20rem;
	bottom: 20%;

	display: flex;
	gap: 20rem;
	align-items: center;
	justify-content: center;

	max-width: 280rem;
	padding: 15rem 20rem;

	color: $black-color;
	text-decoration: none;

	background: $white-color;
	border: 1rem solid $black-color;

	transition: all 0.3s ease-in-out;

	&__text {
		font-size: 48rem;
		line-height: 1;
	}

	&__icon {
		width: 40rem;
		height: 40rem;
	}

	&:hover {
		color: $white-color;
		background: $black-color;
	}
}

@media (width <= 1200px) {
	.directions {
		min-height: unset;
		padding-bottom: 15rem;
	}

	.directions__title {
		display: block;
		margin-bottom: 20rem;
		font-size: 160rem;
		text-align: center;
	}

	.directions__background {
		display: none;
	}

	.directions__wrapper {
		position: relative;
	}

	.directions__items {
		display: flex;
		flex-direction: column;
		gap: 20rem;
	}

	.directions__item {
		position: static;

		&:nth-child(1),
		&:nth-child(3),
		&:nth-child(5) {
			margin-left: 10%;
		}

		&:nth-child(2),
		&:nth-child(4),
		&:nth-child(6) {
			margin-left: 50%;
		}
	}

	.link {
		display: none;
	}
}

@media (width <= 730px) {
	.directions__title {
		font-size: 90rem;
	}
}

@media (width <= 480px) {
	.directions__title {
		font-size: 60rem;
	}

	.directions__item {
		&:nth-child(2),
		&:nth-child(4),
		&:nth-child(6) {
			margin-left: 20%;
		}
	}
}
