.experts {
	position: relative;
	display: grid;
	grid-template-columns: 26% 1fr;
	padding: 0 20rem;

	&__title {
		font-size: 48rem;
		font-weight: 400;
		color: $white-color;
	}

	&__main {
		padding: 30rem 10rem;
		border-right: 1rem solid $white-color;

		.experts__title {
			margin-bottom: 20rem;
		}
	}

	&__experts {
		padding: 30rem 20rem;

		.experts__title {
			margin-bottom: 30rem;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20rem;

		&--main {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&--hidden {
		overflow: hidden;
		max-height: unset;
	}
}

.expert {
	color: $white-color;

	&__avatar {
		overflow: hidden;

		width: 200rem;
		height: 200rem;
		margin-bottom: 20rem;

		background: $expert-gradient;
		border-radius: 50%;
	}

	&__title {
		margin-bottom: 5rem;
		font-size: 25rem;
		font-weight: 400;
		text-transform: uppercase;
	}

	&__info {
		margin-bottom: 20rem;
		font-size: 10rem;
		font-weight: 400;
		line-height: 120%;
	}

	&__description {
		font-size: 12rem;
		font-weight: 400;
		line-height: 150%;

		p + p {
			margin-top: 5rem;
		}
	}
}

.controls {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;

	display: none;
	align-items: center;
	justify-content: center;

	padding: 20rem;

	background: linear-gradient(0deg, $white-color 0%, $black-color 100%);

	&__button {
		cursor: pointer;

		padding: 10rem 20rem;

		color: $black-color;

		background: $white-color;
		border: 1rem solid $black-color;
		border-radius: 0;

		&:hover {
			color: $black-color;
			background: $white-color;
		}
	}
}

@media (width <= 900px) {
	.experts__list {
		grid-template-columns: repeat(2, 1fr);

		&--main {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	.experts__title {
		font-size: 36rem;
	}
}

@media (width <= 720px) {
	.experts {
		grid-template-columns: repeat(1, 1fr);
		padding-bottom: 60rem;

		&--hidden {
			max-height: 755rem;
		}
	}

	.experts__main {
		border-right: none;
	}

	.controls {
		display: flex;
	}
}

@media (width <= 560px) {
	.expert__avatar {
		width: 160rem;
		height: 160rem;
	}

	.experts__list {
		grid-template-columns: 1fr;
	}
}
