.title {
	position: relative;
	z-index: 10;

	margin: 0;

	font-size: 195rem;
	font-weight: 400;
	line-height: 100%;
	color: $white-color;
	text-transform: uppercase;

	&__shadows {
		position: absolute;
		inset: 0;
	}

	&--shadow {
		position: absolute;

		&:nth-child(1) {
			z-index: 1;
			color: transparent;

			-webkit-text-stroke: 5rem $white-10-color;
		}

		&:nth-child(2) {
			z-index: 2;
			color: transparent;

			-webkit-text-stroke: 10rem $white-10-color;
		}

		&:nth-child(3) {
			z-index: 3;
			color: transparent;

			-webkit-text-stroke: 15rem $white-10-color;
		}

		&:nth-child(4) {
			z-index: 4;
			color: transparent;

			-webkit-text-stroke: 20rem $white-10-color;
		}
	}
}

@media (width <= 1200px) {
	.title {
		font-size: 150rem;
	}
}

@media (width <= 720px) {
	.title {
		font-size: 80rem;
	}
}

@media (width <= 480px) {
	.title {
		font-size: 54rem;
	}
}
