.partners {
	background: $white-color;

	&__inner {
		padding: 30rem 0 40rem;
	}

	&__title {
		margin-bottom: 10rem;

		font-size: 55rem;
		font-weight: 400;
		color: $black-color;
		text-transform: uppercase;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		min-width: 0;
	}
}

.partner {
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 0;
	padding: 30rem;

	border: 1rem solid #e0e0e0;
}

.gazprom {
	filter: brightness(1);
}

@media (width <= 900px) {
	.partners__items {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (width <= 600px) {
	.partners__items {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (width <= 500px) {
	.partners__items {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (width <= 400px) {
	.partners__items {
		grid-template-columns: repeat(1, 1fr);
	}
}
