.back {
	color: $black-color;
	transition: color 0.3s ease-in-out;
}

.text {
	color: $black-color;
	transition: color 0.3s ease-in-out;
}

.item {
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 0;
	padding: 30rem;

	&:hover {
		.back {
			color: #d2233c;
		}

		.text {
			color: #221f1c;
		}
	}
}
