.contact {
	display: flex;
	gap: 10rem;
	align-items: center;
	font-size: 16rem;

	&--light {
		color: $white-color;

		&:hover {
			color: $white-70-color;
		}
	}

	&--dark {
		color: $black-color;

		&:hover {
			color: $black-70-color;
		}
	}

	&--default {
		text-decoration: none;
	}

	&--underline {
		text-decoration: underline;
	}

	&__icon {
		width: 20rem;
		height: 20rem;
	}
}

@media (width <= 1200px) {
	.contact {
		font-size: 20rem;
	}
}
