.blue {
	color: $black-color;
	transition: color 0.3s ease-in-out;
}

.star {
	color: $black-color;
	transition: color 0.3s ease-in-out;
}

.item {
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 0;
	padding: 30rem;

	border: 1rem solid #e0e0e0;

	&:hover {
		.blue {
			color: #0f1740;
			transition: color 0.3s ease-in-out;
		}

		.star {
			color: #f7a824;
		}
	}
}
