.petrophysics {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	min-height: 100vh;

	&__header {
		flex-shrink: 0;
		width: 100%;
	}

	&__main {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		gap: 30rem;
		align-items: center;

		width: 100%;
		margin: 30rem 0 60rem;
	}

	&__footer {
		display: grid;
		grid-template-columns: repeat(2, 50%);
		align-items: center;

		width: 100%;

		border-top: 1rem solid $white-color;
		border-bottom: 1rem solid $white-color;
	}

	&__column {
		height: 100%;
		color: $white-color;

		&--main {
			display: flex;
			flex-direction: column;
			justify-content: center;

			padding: 20rem 15rem;

			border-right: 1rem solid $white-color;
		}

		&--secondary {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__date {
		margin-bottom: 10rem;
		font-size: 48rem;
		font-weight: 400;
	}

	&__address {
		font-size: 16rem;
	}

	&__deadline {
		display: flex;
		flex-direction: column;
		gap: 10rem;
		align-items: center;
		justify-content: center;
	}

	&__deadline_date {
		font-size: 48rem;
		font-weight: 400;
	}

	&__deadline_text {
		font-size: 16rem;
		line-height: 1.5;
		text-transform: uppercase;
	}

	&__link {
		display: flex;
		gap: 20rem;
		align-items: center;
		justify-content: center;

		padding: 25rem;

		color: $white-color;
		text-align: center;
		text-decoration: none;

		border: 1px solid $white-color;

		transition: 0.3s all ease-in-out;

		&:hover {
			color: $black-color;
			background: $white-color;
			border-color: $black-color;
		}
	}

	&__link_text {
		font-size: 16rem;
		line-height: 1.5;
		text-transform: uppercase;
	}

	&__link_icon {
		transform: rotate(135deg);
		flex-shrink: 0;
		width: 20rem;
		height: 20rem;
	}
}

.timer {
	font-size: 30rem;
	font-weight: 700;
}

@media (width <= 1200px) {
	.petrophysics__column {
		text-align: center;
	}
}

@media (width <= 900px) {
	.petrophysics__footer {
		grid-template-columns: repeat(1, 100%);
		height: auto;
	}

	.petrophysics__column {
		width: 100%;

		&--main {
			border-right: none;
		}

		&:nth-child(2) {
			border-top: 1rem solid $white-color;
			border-right: none;
			border-bottom: 1rem solid $white-color;
			border-left: none;
		}
	}

	.petrophysics__link {
		border: none;
		border-left: 1rem solid $white-color;
	}
}
