.conference {
	display: flex;
	flex-direction: column;
	gap: 10rem;
	align-items: center;
	justify-content: space-between;

	padding: 20rem 10rem 30rem;

	color: $white-color;
	text-decoration: none;

	transition: background 0.3s ease-in-out;

	&:hover {
		background: $white-15-color;
	}
}

.icon {
	width: 70%;
	height: 60rem;
	margin-bottom: 30rem;
}

.about {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 10rem;
}

.title {
	font-size: 16rem;
	font-weight: 400;
	line-height: 1.2;
	color: $white-color;
	text-align: center;
	text-transform: uppercase;
}

.description {
	margin-bottom: 30rem;

	font-size: 12rem;
	font-weight: 400;
	line-height: 1.2;
	color: $white-color;
	text-align: center;
	text-transform: uppercase;
}

.info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.date {
	flex: 1 0 40%;

	font-size: 12rem;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;

	background: $conference-gradient;
	background-clip: text;

	-webkit-text-fill-color: transparent;
}

.city {
	flex: 1 0 40%;

	font-size: 12rem;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
}
