.industry {
	background: $white-color;

	&__info {
		display: grid;
		grid-template-columns: repeat(2, 50%);
		background: $black-color;
		border-bottom: 1rem solid $black-color;
	}

	&__title {
		padding: 20rem;

		font-size: 75rem;
		font-weight: 400;
		text-transform: uppercase;

		background: $white-color;
		border-right: 1rem solid $black-color;
	}

	&__about {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 20rem;
	}

	&__description {
		font-size: 16rem;
		font-weight: 400;
		line-height: 1.5;
		color: $white-color;
		text-transform: uppercase;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(2, 50%);
	}

	&__item_bg {
		position: absolute;
		z-index: 1;
		inset: 0;

		opacity: 0;
		background-repeat: no-repeat;
		background-size: cover;

		transition: opacity 0.7s ease-in-out;

		&--kfu {
			background-image: url('../../../../shared/assets/images/industry/kfu.jpg');
			background-position-x: 10%;
			background-position-y: 10%;
		}

		&--agi {
			background-image: url('../../../../shared/assets/images/industry/agi.jpg');
			background-position-y: 92%;
		}
	}

	&__item {
		cursor: pointer;
		position: relative;
		padding: 20rem 20rem 45rem;

		&:first-child {
			border-right: 1rem solid $black-color;
		}

		&:hover {
			.industry__item_bg {
				opacity: 1;
			}
		}
	}

	&__subtitle {
		position: relative;
		z-index: 10;

		margin-bottom: 30rem;

		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
		text-transform: uppercase;
	}

	&__icons {
		position: relative;
		z-index: 10;

		display: flex;
		gap: 100rem;
		align-items: center;
	}

	&__icon {
		&--kfu {
			width: 300rem;
			height: 98rem;
		}

		&--agi {
			width: 222rem;
			height: 75rem;
		}

		&--geomodel {
			width: 378rem;
			height: 75rem;
		}
	}
}

@media (width <= 1200px) {
	.industry__title {
		font-size: 60rem;
	}

	.industry__icons {
		flex-direction: column;
		gap: 20rem;
		align-items: flex-start;
	}
}

@media (width <= 720px) {
	.industry__info {
		grid-template-columns: repeat(1, 100%);
	}

	.industry__title {
		border-right: 0;
	}

	.industry__icon {
		display: flex;

		&--kfu {
			width: 100%;
			height: 98rem;
		}

		&--agi {
			width: 100%;
			height: 75rem;
		}

		&--geomodel {
			width: 100%;
			height: 75rem;
		}
	}
}

@media (width <= 520px) {
	.industry__items {
		grid-template-columns: repeat(1, 100%);
	}

	.industry__item:first-child {
		border-right: 0;
		border-bottom: 1rem solid $black-color;
	}
}
