.info {
	font-size: 20rem;
	color: $black-color;
	background: $white-color;

	&__inner {
		display: grid;
		grid-template-columns: 26% 1fr;
	}

	&__column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;

		&--info {
			justify-content: start;
			padding: 20rem 0 0 20rem;
			border-right: 1rem solid $black-color;
		}
	}

	&__group {
		margin-bottom: 40rem;
	}

	&__title {
		margin-bottom: 40rem;

		font-size: 30rem;
		font-weight: 400;
		color: $black-color;
		text-transform: uppercase;
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 20rem;
		justify-content: space-between;

		list-style: none;
	}

	&__contacts_title {
		margin-bottom: 15rem;

		font-size: 16rem;
		font-weight: 400;
		line-height: 1.5;
		color: $black-color;
		text-transform: uppercase;

		&--operator {
			margin-bottom: 0;
		}
	}

	&__contacts_group_link {
		font-size: 16rem;
		line-height: 1.5;
		color: $black-color;
		text-decoration: underline;
		text-transform: uppercase;
	}

	&__list {
		list-style: none;
	}

	&__list_item {
		&:not(:last-child) {
			border-bottom: 1rem solid $black-color;
		}
	}

	&__registration {
		display: flex;
		align-items: center;
		justify-content: space-between;

		font-size: 48rem;
		color: $black-color;
		text-decoration: none;
		text-transform: uppercase;
	}

	&__registration_icon {
		width: 80rem;
		height: 80rem;
	}

	&__text {
		font-size: 13rem;
		line-height: 1.2;
		color: $black-color;
		text-transform: uppercase;

		&--outlined {
			text-decoration: underline;

			a {
				font-weight: 700;
				color: $black-color;
			}
		}
	}
}

.table {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-bottom: 15rem;

	&__title {
		margin-bottom: 10rem;
		font-size: 13rem;
		font-weight: 400;
	}

	&__row {
		display: flex;
		width: 100%;
		border-top: 1rem solid $black-color;

		&:last-child {
			border-bottom: 1rem solid $black-color;
		}
	}

	&__column {
		display: flex;
		flex: 1 0 25%;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		min-height: 60rem;

		font-size: 13rem;
		font-weight: 400;
		line-height: 1.2;

		// padding: auto 0;

		text-align: center;
		text-transform: uppercase;

		border-left: 1rem solid $black-color;

		&:last-child {
			border-right: 1rem solid $black-color;
		}
	}
}

.schedule {
	&__text {
		margin-bottom: 10rem;
		font-size: 13rem;
	}

	&__table {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 15rem;
	}

	&__column_header {
		margin-bottom: 10rem;
		padding: 5rem 0;

		font-size: 13rem;
		font-weight: 400;
		text-transform: uppercase;

		border-top: 1rem solid $black-color;
		border-bottom: 1rem solid $black-color;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 10rem;
		list-style: none;
	}

	&__list_item {
		position: relative;

		display: flex;
		gap: 10rem;
		align-items: center;

		font-size: 13rem;
		font-weight: 400;
		line-height: 1.5;
		text-transform: uppercase;
	}

	&__time {
		display: flex;
		gap: 5rem;
		align-items: center;
	}
}

.link {
	cursor: pointer;

	display: inline-flex;
	gap: 10rem;
	align-items: center;

	padding: 10rem 25rem;

	font-size: 16rem;
	color: $white-color;
	color: $black-color;

	background: $white-color;
	border: 1rem solid $black-color;

	transition: 0.3s all ease-in-out;

	&:hover {
		color: $white-color;
		background: $black-color;
	}

	&__title {
		text-decoration: underline;
		transition: 0.3s all ease-in-out;
	}

	&__icon {
		width: 20rem;
		height: 20rem;
		transition: 0.3s all ease-in-out;

		&--download {
			transform: rotate(135deg);
		}
	}
}

.deadline {
	margin-bottom: 10rem;
	font-size: 12rem;
}

.links {
	display: flex;
	gap: 50rem;
	align-items: center;
}

.payment {
	font-size: 14rem;
	font-weight: 400;
	text-transform: uppercase;
}

.rules {
	margin-bottom: 20rem;

	&:nth-child(2) {
		margin-bottom: 0;
	}

	&__title {
		font-size: 16rem;
		font-weight: 400;
		line-height: 1.5;
		text-transform: uppercase;
	}

	&__description {
		font-size: 13rem;

		p + p {
			margin-top: 5rem;
		}

		ul {
			margin: 5rem 0;
			padding-left: 30rem;
			list-style: disc;
		}
	}

	a {
		color: inherit;
	}
}

@media (width <= 1200px) {
	.info__registration {
		font-size: 68rem;
	}

	.info__registration_icon {
		width: 80rem;
		height: 80rem;
	}
}

@media (width <= 900px) {
	.info__inner {
		grid-template-columns: 1fr;
	}

	.info__title {
		margin-top: 0;
		margin-bottom: 20rem;
		text-align: right;
		border-bottom: 1rem solid $black-color;
	}

	.info__contacts {
		display: none;
	}
}

@media (width <= 740px) {
	.info__registration {
		font-size: 48rem;
	}

	.info__registration_icon {
		width: 50rem;
		height: 50rem;
	}

	.table {
		width: 100%;
	}

	.info__title,
	.info__contacts_title,
	.info__group {
		display: none;
	}

	.schedule__table {
		grid-template-columns: 1fr;
	}
}

@media (width <= 480px) {
	.info__title {
		font-size: 20rem;
	}

	.info__registration {
		font-size: 32rem;
	}

	.table__column {
		font-size: 10rem;
	}

	.schedule__list_item {
		padding-left: 10rem;
		font-size: 10rem;

		&::before {
			width: 6rem;
			height: 6rem;
		}
	}
}

@media (width <= 480px) {
	.table__column {
		font-size: 6rem;

		&--price {
			font-size: 12rem;
		}
	}
}
